FFC_EXT_POSTGRES_DB=postgres
FFC_EXT_POSTGRES_USER=postgres
FFC_EXT_POSTGRES_PASSWORD="mysecurepass#"
FFC_EXT_POSTGRES_HOST=0.0.0.0
FFC_EXT_POSTGRES_PORT=5432
FFC_EXT_POSTGRES_TEST_PORT=65432
FFC_EXT_API_MODIFIER_BASE_URL=https://api-modifier.ffc.com
FFC_EXT_API_MODIFIER_JWT_SECRET=test_jwt_secret
FFC_EXT_SECRETS_ENCRYPTION_KEY=test_encryption_key
FFC_EXT_OPTSCALE_AUTH_API_BASE_URL=https://opt-auth.ffc.com/auth/v2
FFC_EXT_OPTSCALE_REST_API_BASE_URL=https://opt-api.ffc.com/restapi/v2
FFC_EXT_OPTSCALE_CLUSTER_SECRET=test_cluster_secret
FFC_EXT_OPTSCALE_READ_TIMEOUT=60
FFC_EXT_CLI_RICH_LOGGING=True
FFC_EXT_SMTP_HOST=smtp.example.com
FFC_EXT_SMTP_PORT=587
FFC_EXT_SMTP_USER=smtpuser
FFC_EXT_SMTP_PASSWORD=stmppasswd
FFC_EXT_SMTP_SENDER_EMAIL=no-reply@ffc.com
FFC_EXT_SMTP_SENDER_NAME="FinOps for Cloud"
FFC_EXT_MSTEAMS_NOTIFICATIONS_WEBHOOK_URL=https://localhost
FFC_EXT_MPT_API_BASE_URL=https://api.marketplace.com
FFC_EXT_MPT_EXTENSION_ID=EXT-1234-5678
FFC_EXT_MPT_EXTENSION_TOKEN=idt:EXT-1234-5678:v7EJ-kW4AOwcUrFua2Tzfq0kClnngD2uX0JZTCoXFJk
FFC_EXT_EXCHANGE_RATES_BASE_URL=https://localhost
FFC_EXT_EXCHANGE_RATES_API_TOKEN="blablabla"
FFC_EXT_MPT_PRODUCT_ID=PRD-1111-1111