@use "@swo/design-tokens" as *;

.page {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: $var-spacing-10 auto 0;
}

.error-page-card {
  &__container {
    width: 500px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @extend %regular2;

    &__icon {
      margin-bottom: $var-spacing-4;
    }

    &__title {
      @extend %bold6;
      margin-bottom: $var-spacing-1;
      font-weight: 700;
    }

    &__actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      align-self: stretch;
      margin-top: $var-spacing-4;

      a {
        text-decoration: none;
        color: inherit;
      }
    }

    &__safe-message {
      max-width: 350px;
      margin-top: var(--spacing-4);
    }

    &__error-description {
      &__field {
        display: flex;
        flex-direction: column;
        gap: $var-spacing-1;
        width: 100%;
        max-height: 200px;
        margin-top: $var-spacing-4;
        &__value {
          @extend %regular1;
          border: 1px solid $var-gray-2;
          padding: $var-spacing-2;
          border-radius: $var-radius-m;
          max-height: 200px;
          display: flex;
          flex-direction: row;
          gap: $var-spacing-1;
          position: relative;

          &__content {
            flex-grow: 1;
            display: flex;
            margin-right: $var-spacing-8;
            max-width: 100%;
            text-align: left;
            overflow: auto;
            white-space: nowrap;
            flex-direction: column;
            pre {
              overflow: auto;
            }
          }
        }

        &__action {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: $var-spacing-2;
        }
      }
    }
  }
}
