@use "@swo/design-tokens" as *;

.wizard {
  h4 {
    margin-top: var(--spacing-1);
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid;
    border-image: linear-gradient(
        259deg,
        $var-tertiary-cyan-2 16.32%,
        $var-brand-primary 59.03%,
        $var-alerts-info-3 99.99%
      )
      1;

    &-title {
      @extend %medium3;
    }
  }

  &__container {
    padding: var(--spacing-3);
  }

  &__content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex-grow: 1;
  }

  &-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid var(--gray-3);

    &__content {
      display: flex;
      justify-content: space-between;
    }
  }

  form {
    margin: 0;
    height: auto;
  }

  .wizard__container {
    p {
      margin: 0 0 var(--spacing-3) 0;
    }
  }

  .modal__error,
  .modal__input:not(:last-child) {
    margin-bottom: var(--spacing-3);
  }
}

.in-page-highlight-form {
  flex-wrap: wrap;
  row-gap: $var-spacing-2 !important;

  p {
    margin: 0;
  }
}

.step-input {
  margin-bottom: var(--spacing-2);
}
