@use "@swo/design-tokens" as *;

.force-import-modal {
  .modal__error {
    margin-bottom: var(--spacing-2);
  }

  .modal__properties {
    margin: 0 0 var(--spacing-2);

    > div {
      row-gap: 0;
    }

    p {
      margin: 0;
    }
  }

  .modal__field {
    margin: 0 0 var(--spacing-2);
  }

  .modal__checkbox {
    margin-bottom: var(--spacing-2);
  }

  .modal__datasource_info {
    p {
      margin: 0 0 var(--spacing-2);
    }
    margin: var(--spacing-2) 0;
  }
}
