.sandbox-standalone__header-action-label {
  color: var(--gray-6);
  font-size: 12px;
}

.sandbox-standalone__header-actions-spacer {
  width: 12px;
  margin-right: 6px;
  border-right: 1px solid var(--gray-3);
}
